<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="PostStatus" verbose="1">

	<listeners>
		<listener class-name="base.TestListener" />
	</listeners>

	<test name="HelloWorld">
		<parameter name="username" value="username"></parameter>
		<parameter name="password" value="password"></parameter>
		<classes>
			<class name="com.facebook.poststatus.PostStatusTest" />
		</classes>
	</test>

</suite>